  <ul class="staffs_list">
    <% staffs.each_with_index do |staff, index| %>
      <li class="staffs_list_entry staff" title="<%= staff.name %>">
        <div class="staff_image image_swapper">
          <% if index==0 %>
            <%= image_tag staff.primary_image.url(:large), alt: staff.text %>
            <%= image_tag staff.secondary_image.url(:large), alt: staff.text %>
          <% else %>
            <%= image_tag staff.primary_image.url(:medium) %>
            <%= image_tag staff.secondary_image.url(:medium) %>
          <% end %>
        </div>
        <div class="staff_info">
          <h3 class="staff_name"><%= staff.name %></h3>
          <p class="staff_text">
            <%= staff.text %>
          </p>
          <p class="staff_contact"><%= staff.contact %></p>
        </div>
      </li>
    <% end %>
  </ul>