
<div class="company">
  <div class="company_image image_swapper">
    <%= image_tag @staffs.first.primary_image.url(:large) %>
    <%= image_tag @staffs.first.secondary_image.url(:large) %>
  </div>
  <div class="company_info">
    <% if @page.content && !@page.content.strip.empty? %>
      <div class="company_text">
        <%= @page.content.html_safe %>
      </div>
    <% end %>      
  </div>
</div>


<ul class="staffs_list">
  <% staffs.each_with_index do |staff, index| %>
    <li class="staffs_list_entry staff" title="<%= staff.name %>">
      <div class="staff_image <% if staff.secondary_image.exists? %>image_swapper<% end %> desaturation_effect">
        <img src="<%= staff.primary_image.url(:list)%>" srcset="<%= staff.primary_image.url(:list2x)%> 2x, <%= staff.primary_image.url(:list)%> 1x">
        <% if staff.secondary_image.exists? %>
        <img src="<%= staff.secondary_image.url(:list)%>" srcset="<%= staff.secondary_image.url(:list2x)%> 2x, <%= staff.secondary_image.url(:list)%> 1x">
        <% end %>
      </div>
      <div class="staff_info">
        <h3 class="staff_name"><%= staff.name %></h3>
        <% if staff.text && !staff.text.strip.empty? %>
          <p class="staff_text">
            <span class="staff_text_1"><%= staff.text %></span>
            <% if staff.text_cont && !staff.text_cont.empty? %>
              <span class="read_more"> &gt;&nbsp;<%= t(:read_more) %></span>
              <span class="staff_text_2"><%= staff.text_cont %></span>
            <% end %>
          </p>
        <% end %>
        <ul class="staff_contact">
          <li>
            <%= tel_to staff.phone if staff.phone %>
          </li>
          <li>
            <%= staff.fax if staff.fax %>
          </li>
          <li>
            <%= mail_to staff.email if staff.email %>
          </li>
        </ul>
      </div>
    </li>
  <% end %>
</ul>