<!--div class="company_row">
  <div class="company" title="<%= @company.name %>">
    <div class="staff_image image_swapper">
      <%= image_tag @company.primary_image.url(:large), alt: @company.text %>
      <%= image_tag @company.secondary_image.url(:large), alt: @company.text %>
    </div>
    <div class="staff_info">
      <h3 class="staff_name"><%= @company.name %></h3>
      <p class="staff_contact"><%= @company.contact %></p>
    </div>
  </div>
</div-->

<ul class="staffs_list">
  <% staffs.each_with_index do |staff, index| %>
    <li class="staffs_list_entry staff" title="<%= staff.name %>">
      <div class="staff_image image_swapper">
        <img src="<%= staff.primary_image.url(:list)%>" srcset="<%= staff.primary_image.url(:list2x)%> 2x, <%= staff.primary_image.url(:list)%> 1x">
        <img src="<%= staff.secondary_image.url(:list)%>" srcset="<%= staff.secondary_image.url(:list2x)%> 2x, <%= staff.secondary_image.url(:list)%> 1x">
      </div>
      <div class="staff_info">
        <h3 class="staff_name"><%= staff.name %></h3>
        <p class="staff_text">
          <span class="staff_text_1"><%= staff.text %></span>
          <% if staff.text_cont && !staff.text_cont.empty? %>
            <span class="read_more"> &gt;&nbsp;<%= t(:read_more) %></span>
            <span class="staff_text_2"><%= staff.text_cont %></span>
          <% end %>
        </p>
        <p class="staff_contact"><%= staff.contact %></p>
      </div>
    </li>
  <% end %>
</ul>