<div id="topic" style="color:<%= @topic.color %>">

  <h1 class="topic__headline">
    <span class="topic" style="background-color:<%= @topic.color %>">
      <%= @topic.title %>
    </span>
  </h1>

  <%= @topic.description.html_safe if @topic.description %>

  <%= image_tag @topic.image(:medium) %>

  <%= render partial: "projects/projects_list", locals: { projects: @projects } %>

</div>