<div id="topic" style="color:<%= @topic.color %>">

  <h1 class="topic__headline">
    <span class="topic" style="background-color:<%= @topic.color %>">
      <%= @topic.title %>
    </span>
  </h1>

  <%= content_tag :p, @topic.description.html_safe, class: "topic__description" if @topic.description %>

  <%= image_tag @topic.image(:medium), class: "topic__image" if @topic.image.exists? %>

  <%= render partial: "projects/projects_list", locals: { projects: @projects } %>

</div>