<div id="projects">

  <form id="project_selection" action="/en/projects" method="post" data-remote="true">

    <ul id="project_selection__areas">
      <li>
        <input id="area-nope" type="radio" name="area" value="" checked="checked">
        <label for="area-nope" class="area"><span class="prefix"><%= t('area') %>: </span><%= t('all_areas') %></label>
      </li>
      <% @areas.each do |area| %>
        <li>
          <input id="area-<%= area.id %>" type="radio" name="area" value="<%= area.id %>">
          <label for="area-<%= area.id %>" class="area">
            <span class="prefix"><%= t('area') %>: </span>
            <%= area.title %>
          </label>
        </li>
      <% end %>
    </ul>

    <div id="project_selection__search">
      <input name="search" type="search" placeholder="<%= strip_tags(t("search")) %>" onkeyup="//$('#project_selection').submit()">
    </div>

    <ul id="project_selection__tags">
      <% @tags.each do |tag| %>
        <input id="tag-<%= tag.id %>" type="checkbox" value="<%= tag.id %>">
        <label for="tag-<%= tag.id %>" class="tag">
          <%= tag.title %>
        </label>
      <% end %>
    </ul>

  </form>

  <%= render partial: "projects/projects_list", locals: { projects: @projects } %>

</div>