<article id="project">

  <h1 class="project__title"><%= @project.title %></h1>

  <div class="slide_container">

    <ul class="project__tags">
      <% @project.tags.each do |tag| %>
        <li class="tag">
          <%= tag.title %>
        </li>
      <% end %>
    </ul>

    <ul class="project__topics">
      <% @project.topics.each do |topic| %>
        <li class="topic" style="background-color:<%= topic.color %>; color:<%= topic.color %>" data-title="<%= topic.title %>">
          <%= link_to topic.title, topic_path(topic), html_options = { "data-title": topic.title, "style": "background-color:"+topic.color+";border-color:"+topic.color+" transparent" } %>
        </li>
      <% end %>
    </ul>

    <div class="slides">

      <% if @project.slides.any? %>

        <% @project.slides.each_with_index do |slide,i| %>

          <div class="pan_container">
            <div class="slide <%= "zoomable" if slide.zoomable && slide.large_enough_for_zoom %> <%= "plan" if slide.zoomable %>" data-width="<%= slide.image.width %>" data-height="<%= slide.image.height %>">
              <div class="slide__image">
                <% prefix = slide.zoomable ? "plan_" : "" %>
                <% postpone = i == 0 ? "" : "data-" %>
                <img <%=postpone%>src="<%= slide.image.url(prefix+"w1000") %>" <%=postpone%>srcset="<%= slide.image.url(prefix+"w2000") %> 2000w, <%= slide.image.url(prefix+"w1000") %> 1000w, <%= slide.image.url(prefix+"w500") %> 500w" data-zoom-src="<%= slide.image.url(:zoom) %>">
              </div>
              <div class="slide__loopholes slide_links">
                <% slide.slide_links.each do |loop| %>
                  <div class="slide__loophole slide_link" style="left:<%= loop.pos_x %>%; top:<%= loop.pos_y %>%">
                    <a data-target-order="<%= loop.to_slide.order if loop.to_slide %>">
                      <span>
                        <%= loop.to_slide.order if loop.to_slide %>
                      </span>
                    </a>
                  </div>
                <% end %>
              </div>

              <div class="slide__caption">
                <span class="slide__caption__text"><%= slide.caption %></span>
                <span class="slide__caption__position">
                  <span class="slide__caption__order"><%= slide.order %></span>
                  /
                  <span class="slide__caption__max"><%= @number_of_slides %></span>
                </span>
              </div>
            </div>
               
          </div>

        <% end %>

      <% else %>
        
        <div class="slide">
          <div class="slide__image">
            <img src="<%= @project.main_image.url(:large)%>" srcset="<%= @project.main_image.url(:large2x) %> 2x, <%= @project.main_image.url(:large) %> 1x">
          </div>
        </div>

      <% end %>

    </div>

    <div class="nav_loophole_back">
    </div>

    <div class="zoomable_control">
      <button class="zoom_button zoom_button_plus">
        <svg class="plus_icon" width="18" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
          <line id="horizontal" y2="10" x2="15" y1="10" x1="3" stroke-width="2" stroke="#000000" fill="none"/>
          <line id="vertical" y2="16" x2="9" y1="4" x1="9" stroke-width="2" stroke="#000000" fill="none"/>
        </svg>
      </button>
      <button class="zoom_button zoom_button_minus" disabled>
        <svg class="minus_icon" width="18" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
          <line id="horizontal" y2="10" x2="15" y1="10" x1="3" stroke-width="2" stroke="#000000" fill="none"/>
        </svg>
      </button>
    </div>


  </div>

  <div class="project__info">
    <div class="project__info__content">
      <div class="project__headline">
        <div class="project__headline_1">
          <h2 class="project__title"><%= @project.title %></h2>
          <span class="project__title__controls"><%= t('hide_text')%></span>
        </div>
        <aside class="project__caption slide__caption project__headline_2"></aside>
      </div>
      <div data-turbolinks-permanent class="project__description">
        <%= @project.description.html_safe if @project.description %>
      </div>
    </div>
  </div>

</article>


