<article id="project">

  <div class="slide_container">

    <ul class="project__tags">
      <% @project.tags.each do |tag| %>
        <li class="tag">
          <%= tag.title %>
        </li>
      <% end %>
    </ul>

    <ul class="project__topics">
      <% @project.topics.each do |topic| %>
        <li class="topic" style="background-color:<%= topic.color %>; color:<%= topic.color %>" data-title="<%= topic.title %>">
        </li>
      <% end %>
    </ul>

    <div class="slides">

      <% @project.slides.each do |slide| %>
        <div class="slide">
          <div class="slide__image">
            <%= image_tag slide.image.url(:large) %>
          </div>
          <div class="slide__loopholes slide_links">
            <% slide.slide_links.each do |loop| %>
              <div class="slide__loophole slide_link" style="left:<%= loop.pos_x %>%; top:<%= loop.pos_y %>%">
                <a data-target-order="<%= loop.to_slide.order %>">
                  <span>
                    <%= loop.to_slide.order %>
                  </span>
                </a>
              </div>
            <% end %>
          </div>
          <div class="slide__caption">
            <span class="slide__caption__text"><%= slide.caption %></span>
            <span class="slide__caption__position">
              <span class="slide__caption__order"><%= slide.order %></span>
              <%= t('out_of') %>
              <span class="slide__caption__max"><%= @number_of_slides %></span>
            </span>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <div class="project__info">
    <div class="project__info__content">
      <div class="project__headline" onclick="toggle_expandable(this, {root:'.project__info', autoHeight:'.project__description'})">
        <div class="project__headline_1">
          <h1 class="project__title"><%= @project.title %></h1>
          <span class="project__title__controls"><%= t('hide_text')%></span>
        </div>
        <aside class="project__caption slide__caption project__headline_2"></aside>
      </div>
      <div data-turbolinks-permanent class="project__description">
        <%= @project.description.html_safe if @project.description %>
      </div>
    </div>
  </div>

</article>