<article id="project">

  <h1 class="project__title"><%= @project.title %></h1>

  <div class="slide_container">

    <ul class="project__tags">
      <% @project.tags.each do |tag| %>
        <li class="tag">
          <%= tag.title %>
        </li>
      <% end %>
    </ul>

    <ul class="project__topics">
      <% @project.topics.each do |topic| %>
        <li class="topic" style="background-color:<%= topic.color %>; color:<%= topic.color %>" data-title="<%= topic.title %>">
          <%= link_to topic.title, topic_path(topic), html_options = { "data-title": topic.title, "style": "background-color:"+topic.color+";border-color:"+topic.color+" transparent" } %>
        </li>
      <% end %>
    </ul>

    <div class="slides">

      <% if @project.slides.any? %>

        <% @project.slides.each do |slide| %>

          <div class="pan_container">
            <div class="slide <%= "zoomable" if slide.zoomable %>">
              <div class="slide__image">
                <%= image_tag slide.image.url(:large) %>
              </div>
              <div class="slide__loopholes slide_links">
                <% slide.slide_links.each do |loop| %>
                  <div class="slide__loophole slide_link" style="left:<%= loop.pos_x %>%; top:<%= loop.pos_y %>%">
                    <a data-target-order="<%= loop.to_slide.order if loop.to_slide %>">
                      <span>
                        <%= loop.to_slide.order if loop.to_slide %>
                      </span>
                    </a>
                  </div>
                <% end %>
              </div>

              <div class="slide__caption">
                <span class="slide__caption__text"><%= slide.caption %></span>
                <span class="slide__caption__position">
                  <span class="slide__caption__order"><%= slide.order %></span>
                  <%= t('out_of') %>
                  <span class="slide__caption__max"><%= @number_of_slides %></span>
                </span>
              </div>
            </div>
               
          </div>

        <% end %>

      <% else %>
        
        <div class="slide">
          <div class="slide__image">
            <%= image_tag @project.main_image.url(:medium) %>
          </div>
        </div>

      <% end %>

    </div>

    <input type="range" class="zoomable_control">    

  </div>

  <div class="project__info">
    <div class="project__info__content">
      <div class="project__headline">
        <div class="project__headline_1">
          <h2 class="project__title"><%= @project.title %></h2>
          <span class="project__title__controls"><%= t('hide_text')%></span>
        </div>
        <aside class="project__caption slide__caption project__headline_2"></aside>
      </div>
      <div data-turbolinks-permanent class="project__description">
        <%= @project.description.html_safe if @project.description %>
      </div>
    </div>
  </div>

</article>