<article id="project">

  <div class="slides">

    <% @project.slides.each do |slide| %>
      <div class="slide">
        <div class="slide__image">
          <%= image_tag slide.image.url(:large) %>
        </div>
        <div class="slide__loopholes slide_links">
          <% slide.slide_links.each do |loop| %>
            <div class="slide__loophole slide_link" style="left:<%= loop.pos_x %>%; top:<%= loop.pos_y %>%">
              <a data-target-order="<%= loop.to_slide.order %>">
                <span>
                  <%= loop.to_slide.order %>
                </span>
              </a>
            </div>
          <% end %>
        </div>
        <div class="slide__caption">
          <span class="slide__caption__text"><%= slide.caption %></span>
          <span class="slide__caption__order"><%= slide.order %></span>
          <%= t('out_of') %>
          <span class="slide__caption__max"><%= @number_of_slides %></span>
        </div>
      </div>
    <% end %>

  </div>

  <div class="project__info">
    <h1 class="project__title"><%= @project.title %></h1>
    <aside class="project__caption slide__caption"></aside>
    <div data-turbolinks-permanent class="project__description">
      <%= @project.description.html_safe if @project.description %>
    </div>
  </div>

</article>