<div>
  <a href="<%= root_url %>">
    bgmr
  </a>
</div>

<ul>
  <li>
    <%= link_to t("topics"),  topics_path %>
  </li>
  <li>
    <%= link_to t("projects"), projects_path %>
  </li>
</ul>

<ul>
  <li>
    <%= link_to get_seed_page('about').title, page_path(get_seed_page('about')) %>
  </li>
  <li>
    <%= link_to get_seed_page('contact').title, page_path(get_seed_page('contact')) %>
  </li>
  <li>
    <a href="<%= translated_url_for_current_request(:en) %>" title="English">en</a>
    /
    <a href="<%= translated_url_for_current_request(:de) %>" title="Deutsch">de</a>
  </li>
</ul>