<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8"/>
  <title>bgmr Landschaftsarchitekten</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body <%= "data-section=#{current_section_key}" if current_section_key %>>

  <div id="frame">

    <%= render "layouts/header" %>

    <div id="main">
      <%= yield %>
    </div>

  </div>

</body>
</html>
